.contenedor {
  position: relative;
  width: 100%;
  height: 400px;
  background-image: url("../assets/deepmind.jpg"); /* Imagen de fondo */
  background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
  background-position: center; /* Centra la imagen */
  display: flex; /* Usar flexbox para alinear el texto */
  justify-content: center; /* Centra horizontalmente el texto */
  align-items: center; /* Centra verticalmente el texto */
}

.texto-superpuesto {
  color: white;
  font-size: 24px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para mejor legibilidad */
  padding: 10px;
  border-radius: 5px;
}
