.accordion-header {
  font-weight: bold;
  background-color: #0288d1; /* Color de fondo */
  color: #9e9e9e; /* Color del texto */
  padding: 5px;
  border-radius: 2px;
}

.accordion-body {
  background-color: #9e9e9e; /* Color de fondo */
  color: white; /* Color del texto */
  padding: 5px;
  border-radius: 2px;
}
