footer {
  background-color: black;
  margin-top: 10px;
  color: white;
}

.network{
  width: 1.5rem;
  height: 1.5rem;
  fill:white
}

.contacto {
  padding-top: 1rem;
}
.header {
  text-align: center;
  padding-bottom: 0.5rem;
}

.sobre {
  width: 1.5rem;
  height: 1.5rem;
}
