footer {
  background-color: black;
  margin-top: 5px;
  color: white;
}

.icon{
  margin: 0 1.5rem; 
  width: 3rem;
  height: 3rem;

}

.contacto {
  padding: 1rem;
}
.header {
  text-align: center;
  padding-bottom: 0.5rem;
}

.sobre {
  width:1.5rem;
  height:1.5rem;
}
