.carousel-img-container {
  padding: 1rem 100px;
  margin: 0 30px;
  max-height: 300px; /* Ajusta esta altura según tus necesidades */
  overflow: hidden;
}

.carousel-img-container img {
  width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: cover;
}
